<?xml version="1.0" encoding="utf-8"?>
<openerp>
  <data noupdate="1">
    <record model="ir.config_parameter" id="config_param_enable">
        <field name="key">jira.enable</field>
        <field name="value">False</field>
    </record>

    <record model="ir.config_parameter" id="config_param_url">
        <field name="key">jira.url</field>
        <field name="value">https://xis.xprima.com/jira</field>
    </record>

    <record model="ir.config_parameter" id="config_param_user">
        <field name="key">jira.user</field>
        <field name="value">odoo</field>
    </record>

     <record model="ir.config_parameter" id="config_param_pwd">
        <field name="key">jira.pwd</field>
        <field name="value">secret</field>
    </record>

  </data>

   <data noupdate="1">

    <!-- Attachments. Original setup. -->

    <record model="xpr_project.attachment.label" id="attachment_label_isw">
        <field name="name">ISW</field>
    </record>

    <record model="xpr_project.attachment.label" id="attachment_label_questionnaire">
        <field name="name">Questionnaire</field>
    </record>

    <record model="xpr_project.attachment.label" id="attachment_label_ttr">
        <field name="name">TTR</field>
    </record>

    <record model="xpr_project.attachment.label" id="attachment_label_domain">
        <field name="name">Domain Form</field>
    </record>

    <record model="xpr_project.attachment.label" id="attachment_label_ppa">
        <field name="name">PPA</field>
    </record>

    <record model="xpr_project.attachment.label" id="attachment_label_commit">
        <field name="name">Commit Clauses</field>
    </record>

  </data>

  <data noupdate="1">

    <!-- Removing unused states from default stages -->

<!--     <record model="project.task.type" id="project.project_tt_analysis">
        <field name="case_default">False</field>
    </record>

    <record model="project.task.type" id="project.project_tt_design">
        <field name="case_default">True</field>
    </record>

    <record model="project.task.type" id="project.project_tt_testing">
        <field name="case_default">False</field>
    </record>

    <record model="project.task.type" id="project.project_tt_merge">
        <field name="case_default">False</field>
    </record> -->

  </data>

  <data>

    <record model="project.project" id="project_legacy">
        <field name="name">Legacy projects</field>
        <field name="parent_id" ref="project.all_projects_account" />
    </record>

    <record model="project.project" id="project_legacy_epm">
        <field name="name">Legacy EPM</field>
        <field name="project_id" ref="project_legacy" />
        <field name="parent_id" ref="project.all_projects_account" />
    </record>

     <record model="project.project" id="project_legacy_epmcr">
        <field name="name">Legacy EPMCR</field>
        <field name="project_id" ref="project_legacy" />
        <field name="parent_id" ref="project.all_projects_account" />

    </record>

  </data>
</openerp>
