<?xml version="1.0" encoding="utf-8"?>
<openerp>
  <data noupdate="1">
    <record model="ir.config_parameter" id="config_param_enable">
        <field name="key">jira.enable</field>
        <field name="value">False</field>
    </record>

    <record model="ir.config_parameter" id="config_param_url">
        <field name="key">jira.url</field>
        <field name="value">https://xis.xprima.com/jira</field>
    </record>

    <record model="ir.config_parameter" id="config_param_url">
        <field name="key">jira.production.project</field>
        <field name="value">XPRIMAERP</field>
    </record>

    <record model="ir.config_parameter" id="config_param_user">
        <field name="key">jira.user</field>
        <field name="value">odoo</field>
    </record>

     <record model="ir.config_parameter" id="config_param_pwd">
        <field name="key">jira.pwd</field>
        <field name="value">secret</field>
    </record>

  </data>

  <data>

    <!-- Removed unused states from default stages -->

    <record model="project.task.type" id="project.project_tt_analysis">
        <field name="case_default_zip">False</field>
    </record>

    <record model="project.task.type" id="project.project_tt_design">
        <field name="case_default">False</field>
    </record>

    <record model="project.task.type" id="project.project_tt_testing">
        <field name="case_default">False</field>
    </record>

    <record model="project.task.type" id="project.project_tt_merge">
        <field name="case_default">False</field>
    </record>

  </data>
</openerp>
