<?xml version="1.0" encoding="utf-8"?>
<openerp>

<data noupdate="1">
 <!-- Audit rules -->	
 <record id="audit_partner" model="auditlog.rule">
      <field name="model_id" ref="account.model_res_partner"></field>
      <field name="name">Partner</field>
      <field name="state">subscribed</field>
      <field name="log_create">1</field>
      <field name="log_unlink">1</field>
      <field name="log_read"></field>
      <field name="log_write"></field>
 </record>

 <record id="audit_sale_order" model="auditlog.rule">
      <field name="model_id" ref="portal_sale.model_sale_order"></field>
      <field name="name">Quote</field>
      <field name="state">subscribed</field>
      <field name="log_create">1</field>
      <field name="log_unlink">1</field>
      <field name="log_read"></field>
      <field name="log_write">1</field>
 </record>

 <record id="audit_product" model="auditlog.rule">
      <field name="model_id" ref="product.model_product_product"></field>
      <field name="name">Product</field>
      <field name="state">subscribed</field>
      <field name="log_create">1</field>
      <field name="log_unlink">1</field>
      <field name="log_read"></field>
      <field name="log_write">1</field>
 </record>

  <record id="audit_price" model="auditlog.rule">
      <field name="model_id" ref="product.model_product_attribute_price"></field>
      <field name="name">Price</field>
      <field name="state">subscribed</field>
      <field name="log_create">1</field>
      <field name="log_unlink">1</field>
      <field name="log_read"></field>
      <field name="log_write">1</field>
 </record>

   <record id="audit_product_template" model="auditlog.rule">
      <field name="model_id" ref="account.model_product_template"></field>
      <field name="name">Product Template</field>
      <field name="state">subscribed</field>
      <field name="log_create">1</field>
      <field name="log_unlink">1</field>
      <field name="log_read"></field>
      <field name="log_write">1</field>
 </record>

</data>
</openerp>